@using Cashflowio.Core.Interfaces
@inject IRepository Repository
@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<form id="yearForm" asp-action="Index" class="form-inline">
    <div class="form-group">
        <select id="Year" name="Year" asp-items="@Model.Years" onchange="$('#yearForm').submit()">
            <option value="0">None</option>
        </select>
    </div>
</form>

<div class="row pt-3">
    @foreach (var income in Model.Income)
    {
        <div class="col">
            <div class="info-box bg-success">
                <span class="info-box-icon">
                    <i class="fas fa-arrow-circle-down"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">@income.Name</span>
                    <span class="info-box-number">
                        +@income.TotalAmount.ToString("C0")
                    </span>
                    <div class="progress-description d-flex align-content-start flex-wrap">
                        @foreach (var concept in income.Concepts.OrderByDescending(x => x.Amount))
                        {
                            <a class="btn btn-success" target="_blank"
                               asp-action="Income" asp-controller="Query" asp-route-year="@Model.SelectedYear"
                               asp-route-source="@income.Name" asp-route-description="@concept.Description">
                                @concept.Description
                                <span class="badge badge-light">
                                    @concept.Amount.ToString("C0")
                                </span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @foreach (var moneyAccount in Model.MoneyAccounts)
    {
        <div class="col-md-12">
            <div class="info-box bg-warning">
                <div class="info-box-content">
                    <span class="info-box-text">@moneyAccount.Name</span>
                    <span class="info-box-number">
                        @moneyAccount.Balance.ToString("C0")
                    </span>
                    <div class="row mt-2">
                        @foreach (var group in moneyAccount.Concepts.GroupBy(x => new {x.Icon, x.Description}))
                        {
                            <div class="col">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                    <tr>
                                    <th>
                                        <i class="fas @group.Key.Icon"></i>
                                    </th>
                                    <th>@group.Key.Description</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    @foreach (var concept in group)
                                    {
                                        <tr>
                                            <td>
                                                @concept.Name
                                            </td>
                                            <td class="text-right">
                                                <span class="badge badge-light">
                                                    @concept.Amount.ToString("C0")
                                                </span>
                                            </td>
                                            <td>
                                                <a class="btn btn-warning" target="_blank"
                                                   asp-action="Transfer" asp-controller="Query" asp-route-year="@Model.SelectedYear"
                                                   asp-route-source="@concept.Source" asp-route-destination="@concept.Destination">
                                                    <i class="fas fa-arrow-circle-right"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @foreach (var expenseCategory in Model.ExpenseCategories)
    {
        <div class="col-6">
            <div class="info-box bg-danger">
                <div class="info-box-content">
                    <span class="info-box-text">@expenseCategory.Name</span>
                    <span class="info-box-number">
                        -@expenseCategory.Amount.ToString("C0")
                    </span>
                    <div class="row">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Concept
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var concept in expenseCategory.Concepts)
                            {
                                <tr>
                                    <td>
                                        @concept.Description
                                    </td>
                                    <td class="text-right">
                                        <span class="badge badge-light">
                                            @concept.Amount.ToString("C0")
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" target="_blank"
                                           asp-action="Expense" asp-controller="Query" asp-route-year="@Model.SelectedYear"
                                           asp-route-concept="@concept.Description" asp-route-destination="@expenseCategory.Name">
                                            <i class="fas fa-money-check"></i>
                                        </a>

                                        <a class="btn btn-danger" target="_blank"
                                           asp-action="Credit" asp-controller="Query" asp-route-year="@Model.SelectedYear"
                                           asp-route-concept="@concept.Description" asp-route-destination="@expenseCategory.Name">
                                            <i class="fas fa-credit-card"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                bLengthChange: false,
                pageLength: 5,
                order : [1, 'desc']
            });
        });
    </script>
}

@section styles{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
}